# Database
DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=stremio
DB_PASSWORD=stremio_pass
DB_DATABASE=movie_db_dev

# Test Database (for E2E tests)
DB_TEST_PORT=5436

# Application
PORT=5000
NODE_ENV=development

# JWT
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRES_IN=1h


